*/*.a
*/obj/
*.swp
bin/
libloragw/inc/config.h
libloragw/test_loragw_*
packet_forwarder/lora_pkt_fwd
util_chip_id/chip_id
util_net_downlink/net_downlink
util_boot/boot
util_spectral_scan/spectral_scan